html {
    height: 100%;
}

body {
    height: 100% !important;
    background-image: linear-gradient(#ffffff, #cce4ff);
}

h1 {
    margin-top: 30px;
    margin-bottom: 10px;
}

form {
    margin-bottom: 0px;
}

table {
    background-color: transparent;
    width: 100%;
    border: 1px solid #d2d9e0;
}

tr {
    height: 41px;
}

td, th {
    border: 1px solid #d2d9e0;
}

.myContainer {
    margin-left: 35%;
    margin-right: 35%;
}

.myContainer2 {
    margin-left: 25%;
    margin-right: 25%;
}

.myContainer3 {
    margin-left: 10%;
    margin-right: 10%;
}

.open {
    color: #542fd8;
    font-weight: bold;
}

.modificata {
    color: #d8c12e;
    font-weight: bold;
}

.rigettata {
    color: #d82d2d;
    font-weight: bold;
}

.confermata {
    color: #2dd846;
    font-weight: bold;
}